*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:has(a){
    transition: all 200ms;
}

:root{
    --bg-primary: #7DD181;
    --bg-secondary: #96E8BC;
    --bg-tertiary: #B6F9C9;
    --text: #4B7F52;
}

body{
    width: 100vw;
    font-family: "Aclonica", sans-serif;
    background-color: #C9FFE2;
    font-size: 24px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.page{
    width: max(70vw, 1080px);
    /* width: 1080px; */
}

header{
    background-color: var(--bg-primary);
    text-align: center;
    padding: 15px;

    h1{
        color: #fff;
        letter-spacing: 3px;
        /* -webkit-text-stroke: 0.25px #000; */
        text-shadow:
        1.5px 1.5px 0 #000,
        -1.5px -1.5px 0 #000,  
        1.5px -1.5px 0 #000,
        -1.5px 1.5px 0 #000,
        1.5px 1.5px 0 #000;
        font-size: 32px;
    }
}

img{
    display: block;
    width: 100%;
}

nav{
    padding: 10px;
    background-color: var(--bg-primary);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3px;
}

nav a{
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}

.nav__link, .aside__link{
    font-size: 22px;
    padding: 15px;
    border-radius: 20px;
}

.nav__link:hover, .current, .aside__link:hover{
    background-color: #fff;
    color: var(--text);
}

.nav__link:hover > a, .current > a, .aside__link:hover > a{
    color: var(--text);
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

aside{
    background-color: var(--bg-secondary);
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 10px 0;
    gap: 10px;
    
    .aside__link{
        max-width: 80%;
        text-align: center;
    }
}

aside a{
    color: #000;
    text-decoration: none;
}

article{
    background-color: var(--bg-tertiary);
    padding: 15px;
    h2{
        color: var(--text);
        font-size: 40px;
    }
    
    p, span, li{
        color: #000;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    q{
        font-style: italic;
    }
    
    p{
        margin-top: 20px;
        text-align: justify;
    }
    
    p:first-of-type::first-letter{
        font-size: 36px;
        font-family: 'Aclonica', sans-serif;
        color: var(--text);
        float: left;
        padding-right: 3px;
        padding-left: 3px;
        line-height: 20px;
    }
    
    h4{
        margin-top: 15px;
        color: var(--text);
    }
    li{
        margin-left: 50px;
    }
    li::marker{
        color: var(--text);
    }
}

footer{
    background-color: var(--bg-primary);
    text-align: center;
    padding-top: 10px;
    
    table{
        width: 100%;
        
        th{
            color: #fff;
            text-shadow:
            1px 1px 0 #000,
            -1px -1px 0 #000,  
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
        }
        
        td{
            font-size: 18px;
            
            a{
                color: #000;
            }
        }
    }
}


::selection{
    background-color: var(--text);
    color: #fff;
    text-shadow: none;
}

h1::selection, th::selection{
    text-shadow:
    1.5px 1.5px 0 #000,
    -1.5px -1.5px 0 #000,  
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
}
h1::moz-selection, th::-moz-selection{
    text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


.img img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: fill;
}